@media only screen and (max-device-width: 736px) {
    body {
        max-width: 100%;
        height: auto;
    }
    .welcome-section {
        width: 100%;
        height: auto;
    }
    .container{
        min-width: 100%;
    }
}
@media only screen and (max-device-width: 736px) {
    .wrapper-header {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media only screen and (max-device-width: 736px) {
    .header {
        padding: 20px 0 20px 0;
    }
    .header img{
        width: 132px;
    }
}
@media only screen and (max-device-width: 736px) {
    .welcome{
        width: 100%;
        height: auto;
    }
    .welcome-info h1{
        margin-top: 30px;
        font-size: 35px;
    }
    .welcome-info p{
        font-size: 20px;
    }
}
@media only screen and (max-device-width: 736px) {
    .menu-welcome {
        display: flex;
        margin-top: 45px;
    }
    .menu-welcome li {
        flex-direction: column;
        align-self: baseline;
        margin-right: 35px;
    }

    .menu-welcome li:last-child{
        margin-right: 0;
    }
    .menu-welcome li h2{
        font-size: 20px;
        margin: 15px 0 15px 0;
    }
    .menu-welcome li p{
        font-size: 15px;
        line-height: 30px;
    }
    .welcome-photo{
        width: auto;
        margin: 0;
    }
    .welcome-photo img{
        width: auto;
        border: 5px solid white;
    }
    .welcome-info button{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
@media only screen and (max-device-width: 736px) {
    .wrapper {
        padding-top: 45px;
        padding-bottom: 57px;
    }

    .section-header {
        text-align: center;
        width: 100%;
    }

    .section-header h2 {
        margin-bottom: 45px;
        text-align: center;
        vertical-align: middle;
    }

    .list-news {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
    }

    .list-news li {
        margin-right: 35px;
    }
    .list-news li:last-child {
        margin-right: 0;
    }

    .list-news footer h3 {
        margin-top: 20px;
        font-size: 18px;
    }

    .list-news footer span {
        font-size: 15px;
        line-height: 30px;
    }

    .list-news footer button {
        margin-bottom: 30px;
    }

    .newsletter {
        padding-bottom: 120px;
    }
    .letter p{
        margin: 0 20px 0 20px;
    }
    .newsletter form {
        text-align: center;
        width: 350px;
    }

    .newsletter form input {
        padding-left: 0;
        text-align: left;
        line-height: 50px;
    }

    .newsletter form button {
        margin-top: 30px;
    }
}
@media only screen and (max-device-width: 736px) {
    .about-dolor h2 {
        text-align: center;
    }

    .about-dolor p {
        font-size: 12px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-device-width: 736px){
    .dolor:nth-child(2n + 1),
    .dolor:nth-child(2n){
        display: flex ;
        flex-direction: column !important;
        flex-wrap: wrap;
    }
    .dolor{
        margin: 0;
        padding: 0;
    }
    .list-dolor{
        text-align: center;
        vertical-align: middle;
    }
    .list-dolor button{
        margin-bottom: 30px;
    }
    .img-dolor{
        margin: 0;
        vertical-align: middle;

    }
    .img-dolor img{
        width: 330px;
    }
}
@media only screen and (max-device-width: 736px){
    .list-footer li{
        font-size: 14px;
    }
    .footer-bottom p{
        font-size: 14px;
    }
    .menu-welcome{
        flex-direction: column;
    }
}